.header--container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--colorBackground);
  padding: 0 10%;
}

.header--logo{
  display: block;
  width: 80px;
  min-height: 60px;
  object-fit: contain;
  margin-right: auto;
}

.header--container ul{
  display: flex;
}

.header--container ul li{
  margin-left: 15px;
  list-style-type: none;
}


.header--link{
  font-size: 1rem;
  color: var(--colorPrimary) ;
  text-decoration: none;
  transition: 0.3s;
}

.header--link:hover{
  color: var(--colorAccent);
}

.active{
  color: var(--colorAccent);
}